
  .jumbotron {
    padding: 20px;
    margin-bottom: 5px;
  }
  .banner {
    background-image: url(../img/burger.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 400px;
    height: 310px;
    
  }
  .create-form {
    position: relative;

  }
  .eaten {
    list-style-type: none;
    display: block;
    background-color: rgb(197, 187, 187);
    border: rgb(117, 110, 110);
  }
  .entry {
    padding: 15px;
  }